@font-face {
  font-family: Brandon Grotesque;
  src: url(../fonts/BrandonGrotesque-Light.ttf);
}
@font-face {
  font-family: Brandon Grotesque Bold;
  src: url(../fonts/BrandonGrotesque-Bold.ttf);
}
@font-face {
  font-family: cubano;
  src: url(../fonts/cubano-regular-webfont.ttf);
}
body {
  margin: 0;
  padding: 0;
}

div.mainBlock {
  max-width: 1400px;
}
div.mainBlock header#headerBlock {
  background: url(../images/bg-header.png);
  height: 620px;
  padding-top: 44px;
  padding-left: 230px;
  padding-right: 230px;
}
div.mainBlock header#headerBlock div#head {
  max-height: 28px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#logoBox a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  line-height: 18.88px;
  color: #ffffff;
  letter-spacing: 2.5px;
  font-family: cubano;
}
div.mainBlock header#headerBlock div#head div#headerBox div#logoBox a img {
  margin-right: 10px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav {
  list-style-type: none;
  float: right;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li {
  display: inline-block;
  margin-right: 30px;
}
@media all and (max-width: 1299px) {
  div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li {
    margin-right: 10px;
  }
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li:last-child {
  margin-right: 0;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li a {
  text-decoration: none;
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 41px;
}
div.mainBlock header#headerBlock div#headerContent {
  text-align: center;
}
div.mainBlock header#headerBlock div#headerContent h5 {
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.8px;
  margin-bottom: 41px;
}
div.mainBlock header#headerBlock div#headerContent h4 {
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 66px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.65px;
  margin-bottom: 69px;
}
div.mainBlock header#headerBlock div#headerContent button {
  font-family: Brandon Grotesque;
  background: none;
  width: 240px;
  padding: 0;
  line-height: 61px;
  font-size: 23px;
  font-weight: 700;
  border: 2px solid #ffffff;
  color: #ffffff;
}
div.mainBlock section#webDevBlock {
  padding-top: 100px;
  padding-bottom: 100px;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 {
  max-width: 556px;
  margin-right: 74px;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 h3 {
  font-family: Brandon Grotesque;
  font-size: 60px;
  line-height: 75px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 h3 span {
  font-family: Brandon Grotesque Bold;
  font-weight: 700;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 p {
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.45px;
  color: #777777;
}
div.mainBlock section#brandingBlock {
  padding-top: 100px;
  padding-bottom: 96px;
  background-color: #fafafa;
}
div.mainBlock section#brandingBlock div#barndBlockBox1 {
  margin-right: 54px;
}
div.mainBlock section#brandingBlock div#barndBlockBox1 img {
  float: right;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 {
  max-width: 520px;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 h3 {
  font-family: Brandon Grotesque;
  font-size: 60px;
  line-height: 75px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 h3 span {
  font-family: Brandon Grotesque Bold;
  font-weight: 700;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 p {
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.45px;
  color: #777777;
}
