@font-face {
  font-family: Brandon Grotesque;
  src: url(../fonts/BrandonGrotesque-Light.ttf);
}
@font-face {
  font-family: Brandon Grotesque Bold;
  src: url(../fonts/BrandonGrotesque-Bold.ttf);
}
@font-face {
  font-family: cubano;
  src: url(../fonts/cubano-regular-webfont.ttf);
}
body {
  margin: 0;
  padding: 0;
}

div.mainBlock {
  max-width: 1400px;
  padding-left: 0;
  padding-right: 0;
}
div.mainBlock header#headerBlock {
  background: url(../images/Tint.png) no-repeat 0 0, url(../images/bg-header.png) no-repeat 0 0;
  height: 620px;
  padding-top: 44px;
}
div.mainBlock header#headerBlock div#head {
  max-height: 28px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#logoBox a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  line-height: 18.88px;
  color: #ffffff;
  letter-spacing: 2.5px;
  font-family: cubano;
}
div.mainBlock header#headerBlock div#head div#headerBox div#logoBox a img {
  margin-right: 10px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav {
  list-style-type: none;
  float: right;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li {
  display: inline-block;
  margin-right: 30px;
}
@media all and (max-width: 1299px) {
  div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li {
    margin-right: 10px;
  }
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li:last-child {
  margin-right: 0;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li a {
  text-decoration: none;
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 41px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuBox nav li a:hover {
  border-bottom: 1px solid #ffffff;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown label#btnMenu {
  color: #ffffff;
  border: none;
  text-decoration: none;
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown label#btnMenu:hover {
  border-bottom: 1px solid #ffffff;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown input#checkBox {
  display: none;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown input#checkBox:checked ~ nav#listMenu {
  display: none;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown nav#listMenu {
  position: absolute;
  left: -150px;
  width: 272px;
  background: grey;
  opacity: 0.9;
  border-radius: 7px;
  text-align: center;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown nav#listMenu li {
  list-style-type: none;
  display: inline-block;
  height: 100%;
  border-radius: 3px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown nav#listMenu li:hover {
  background: #ffffff;
  opacity: 0.9;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown nav#listMenu li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  text-decoration: none;
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
div.mainBlock header#headerBlock div#head div#headerBox div#menuMobile div.dropdown nav#listMenu li a:hover {
  color: black;
}
div.mainBlock header#headerBlock div#headerContent {
  text-align: center;
}
div.mainBlock header#headerBlock div#headerContent h5 {
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.8px;
  margin-bottom: 41px;
}
div.mainBlock header#headerBlock div#headerContent h4 {
  font-family: Brandon Grotesque;
  color: #ffffff;
  font-size: 66px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.65px;
  margin-bottom: 64px;
}
div.mainBlock header#headerBlock div#headerContent button {
  font-family: Brandon Grotesque;
  background: none;
  width: 240px;
  padding: 0;
  line-height: 61px;
  font-size: 23px;
  font-weight: 700;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
div.mainBlock header#headerBlock div#headerContent button:hover {
  color: #7690c5;
  background-color: #ffffff;
  border: 2px solid #7690c5;
}
div.mainBlock section#webDevBlock {
  padding-top: 100px;
  padding-bottom: 100px;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 {
  max-width: 556px;
  margin-right: 74px;
}
@media all and (max-width: 839px) {
  div.mainBlock section#webDevBlock div#webDevBlockBox1 {
    margin-right: 3px;
  }
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 h3 {
  font-family: Brandon Grotesque;
  font-size: 60px;
  line-height: 75px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 h3 span {
  font-family: Brandon Grotesque Bold;
  font-weight: 700;
}
div.mainBlock section#webDevBlock div#webDevBlockBox1 p {
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.45px;
  color: #777777;
}
div.mainBlock section#webDevBlock div#webDevBlockBox2 img {
  width: 100%;
  max-width: 220px;
}
div.mainBlock section#brandingBlock {
  padding-top: 100px;
  padding-bottom: 96px;
  background-color: #fafafa;
}
div.mainBlock section#brandingBlock div#barndBlockBox1 {
  margin-right: 54px;
}
@media all and (max-width: 839px) {
  div.mainBlock section#brandingBlock div#barndBlockBox1 {
    margin-right: 3px;
  }
}
div.mainBlock section#brandingBlock div#barndBlockBox1 img {
  float: right;
  width: 100%;
  max-width: 272px;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 {
  max-width: 520px;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 h3 {
  font-family: Brandon Grotesque;
  font-size: 60px;
  line-height: 75px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 h3 span {
  font-family: Brandon Grotesque Bold;
  font-weight: 700;
}
div.mainBlock section#brandingBlock div#barndBlockBox2 p {
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.45px;
  color: #777777;
}
div.mainBlock section#listBlock {
  padding-top: 100px;
  padding-bottom: 44px;
}
div.mainBlock section#listBlock div div.row div#listItem {
  max-width: 371px;
  margin-left: 56px;
  margin-right: 56px;
}
div.mainBlock section#listBlock div div.row div#listItem div.circle {
  position: relative;
  background-color: #222222;
  height: 72px;
  width: 72px;
  text-align: center;
  border-radius: 45px;
  margin-right: 17px;
}
div.mainBlock section#listBlock div div.row div#listItem div.circle img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div.mainBlock section#listBlock div div.row div#listItem div.content {
  max-width: 282px;
  margin-bottom: 44px;
}
div.mainBlock section#listBlock div div.row div#listItem div.content h4 {
  font-family: Brandon Grotesque;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.55px;
  color: #222222;
}
div.mainBlock section#listBlock div div.row div#listItem div.content p {
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.45px;
  color: #777777;
  margin-bottom: 0;
}
div.mainBlock footer#footer {
  background-color: #7690c5;
  padding-top: 100px;
}
div.mainBlock footer#footer div#feedbackBlock {
  padding-bottom: 100px;
}
div.mainBlock footer#footer div#feedbackBlock div h4 {
  color: #ffffff;
  font-size: 60px;
  font-family: Brandon Grotesque;
  font-weight: 300;
  letter-spacing: -1.5px;
  margin-bottom: 17px;
}
div.mainBlock footer#footer div#feedbackBlock div h4 span {
  font-family: Brandon Grotesque Bold;
  font-weight: 700;
}
div.mainBlock footer#footer div#feedbackBlock div p {
  color: #ffffff;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px;
  max-width: 419px;
  margin-bottom: 47px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList {
  padding-left: 14px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div {
  color: #ffffff;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  max-width: 419px;
  margin-bottom: 29px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div:first-child img {
  margin-right: 18px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div:nth-child(2) img {
  margin-right: 13px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div:nth-child(3) img {
  margin-right: 11px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div:nth-child(4) img {
  margin-right: 18px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div:nth-child(5) img {
  margin-right: 12px;
}
div.mainBlock footer#footer div#feedbackBlock div div#socialList div:last-child img {
  margin-right: 15px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form {
  max-width: 456px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input {
  height: 50px;
  line-height: 50px;
  border-radius: 2px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input:first-child {
  margin-bottom: 29px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input:nth-child(2) {
  margin-bottom: 20px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input::-webkit-input-placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input:-ms-input-placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input::-ms-input-placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group input::placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group textarea {
  height: 210px;
  border-radius: 3px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group textarea::-webkit-input-placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group textarea:-ms-input-placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group textarea::-ms-input-placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#formBox form div.form-group textarea::placeholder {
  color: #bbbbbb;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.45px;
}
div.mainBlock footer#footer div#feedbackBlock div#socialListUl div.row div {
  text-align: center;
}
div.mainBlock footer#footer div#feedbackBlock div#socialListUl div.row div ul {
  list-style-type: none;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
}
div.mainBlock footer#footer div#feedbackBlock div#socialListUl div.row div ul li {
  display: inline-block;
  color: #ffffff;
  font-family: Brandon Grotesque;
  font-size: 18px;
  font-weight: 400;
  max-width: 419px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 4px;
}
div.mainBlock footer#footer div#feedbackBlock div#socialListUl div.row div ul li img {
  margin-right: 4px;
}
div.mainBlock footer#footer div.row div#copyrightBox {
  border-top: 1px solid #87a0d2;
  height: 79px;
  text-align: center;
}
div.mainBlock footer#footer div.row div#copyrightBox p {
  display: inline;
  color: #ffffff;
  font-family: Brandon Grotesque;
  font-size: 16px;
  font-weight: 500;
  line-height: 79px;
  letter-spacing: -0.4px;
}
