@mixin padInBlock
    padding-left: 230px
    padding-right: 230px

@mixin bgHeader1
    background: url(../images/bg-header.png)

@mixin bgHeader2
    background: #000000
    opacity: 0.35

body
    margin: 0
    padding: 0